<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
      <link rel="stylesheet" href="/css/book.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>


<body>
    {{> header}}
    <div id="padding">
        <!--
        <div>
            <p>Books / Categories / Young Adult / Young Adult / Fiction / Dystopian</p>
        </div>
		-->
        {{!-- <div id="book-info"> --}}
            {{!-- unmaintainable snippet of code --}}
             {{{bookContainer}}}
            <div>
				{{{bookImage}}}
            </div>

            <div>
                <div>
                    <div class="row">
                        <div id="block-padding">
                            {{{bookTitle}}}
							{{{bookAuthor}}}
                            <!--
							<p>ISBN: 9781339016573</p>
							-->
                        </div>
                    </div>
                </div>
                <!--
                <div id="block-padding">
                    <fieldset>
                        <legend>Condition</legend>

                        <div>
                            <input type="radio" id="New" name="Condition" value="New" checked />
                            <label for="New">New</label>
                        </div>

                        <div>
                            <input type="radio" id="Used" name="Condition" value="Used" />
                            <label for="Used">Used</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Format</legend>

                        <div>
                            <input type="radio" id="Trade Paperback" name="Format" value="Trade Paperback" checked />
                            <label for="Trade Paperback">Trade Paperback</label>
                        </div>

                    </fieldset>
                </div>
				-->
            </div>
            <div id="block-padding">
                {{{bookPrice}}}
				<!--
                <p>Used - Trade Paperback - 9781339016573</p>
                <fieldset id="block-padding-border">


                    <div>
                        <input type="radio" id="Pick Up Today" name="Delivery" value="Pick Up Today" checked />
                        <label for="Pick Up Today">Pick Up Today (Not In Stock at this Location)</label>
                    </div>

                    <div>
                        <input type="radio" id="Ship to Address" name="Delivery" value="Ship to Address" checked />
                        <label for="Ship to Address">Ship to Address</label>
                    </div>
                </fieldset>
				-->
                <div id="button-row">
                    <button class="btn" id="buyButton">Add to Cart</button>
                    <button class="btn">Add to Wishlist</button>
                </div>
            </div>
        </div>

        <div id="block-padding">
            <h2 class="heading"> <span>Description</span> </h2>
            {{{bookDescription}}}
        </div>
        <div id="block-padding">
            <h2 class="heading"> <span>Information</span> </h2>
            <ul>
				<!--
                <li>
                    <span id="bold">Format:</span>
                    <span>Trade Paperback</span>
                </li>
				-->
                <li>
                    <span id="bold">Author:</span>
					{{{bookAuthor2}}}
                </li>
				<li>
                    <span id="bold">Genre:</span>
					{{{bookGenre}}}
                </li>
				<!--
                <li>
                    <span id="bold">ISBN:</span>
                    <span>9781339016573</span>
                </li>
                <li>
                    <span id="bold">Condition:</span>
                    <span>Used</span>
                </li>
                <li>
                    <span id="bold">Number Of Pages:</span>
                    <span>528</span>
                </li>
				-->
                <li>
                    <span id="bold">Publication Date:</dt>
					{{{bookDate}}}
                </li>
            </ul>
        </div>
    </div>
    <div id="block-padding">
        <h1 class="heading"> <span>You May Also Like</span> </h1>

        <section class="featured" id="featured">
            <div class="swiper featured-slider">

                <div class="swiper-wrapper">

                    {{> featured}}

                </div>


        </section>
    </div>
    <div id="block-padding">
        <h1 class="heading"> <span>Customer Reviews</span> </h1>
        <div id="padding">
            <div id="block-padding-border">
                <h2>Add Review</h2>
                <form id="add_review" method="POST" action="">
                    <span>Rate</span>
                    <div>
                        <input type="number" id="rating" name="review_rating" value="1" min="1" max="5" />
                        <span> / 5</span>
                    </div>
                    <span>Message</span>
                    <textarea class="textarea-message" name="review_message" rows="5" placeholder="type message" autocapitalize="off"></textarea>
                    <input type="submit" value="add review" class="btn">
                </form>
            </div>
            <div id="block-padding-border">
				<h2>Reviews</h2>
                <div class="review">
                    <div class="review-user"> 
                    <p class="username">Den</p>
                    <p class="date">2024.04.24</p>
                    <p class="rating">5/5</p>
                    </div>
                    <p class="message">Govno ebanoe!</p>
                </div>

                <div class="review">
                    <div class="review-user"> 
                    <p class="username">Web Ymer</p>
                    <p class="date">1888.04.24</p>
                    <p class="rating">0/5</p>
                    </div>
                    <p class="message">Веб умер, на телефон переделывайте свое говно !</p>
                </div>


                <div class="review">
                    <div class="review-user"> 
                    <p class="username">Deniska</p>
                    <p class="date">1984.04.24</p>
                    <p class="rating">2/5</p>
                    </div>
                    <p class="message">огузки ебанные</p>
                </div>

            </div>
        </div>
    </div>
    {{> footer}}
</body>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="/javascript.js"></script>
<script>
    var swiper = new Swiper(".featured-slider", {
        spaceBetween: 10,
        loop: true,
        centeredSlides: true,
        autoplay: {
            delay: 9500,
            disableOnInteraction: false,
        },


        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            450: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 3,
            },
            1024: {
                slidesPerView: 4,
            },
        },
    });
</script>
{{!-- shopping cart --}}
<script src="/scripts/shopping-cart.js"></script>

</html>